.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: row;
    border: 5px solid black;
    margin: 0 5%;
}

.team-item {
    width: 200px;
    height: 200px;
    list-style: none;
    border: 2.5px solid black;
    margin-bottom: 5%;
    background: linear-gradient( 180deg, rgba(0, 0, 0, 1) 0%, rgba(97, 97, 97, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.team-item:hover {
    color: lightgray;
}

.tab-stadium {
    margin: 0 40px;
}

.event-teams {
    display: flex;
    flex-wrap: wrap;
    justify-content: row;
}

.event-items {
    list-style: none;
    margin: 1% 0 5% 1%;
    width: 300px;
}

.tab-players {
    display: flex;
    flex-wrap: wrap;
    justify-content: row;
    margin: 2% 2%;
}

li.player-item {
    width: 200px;
    height: 200px;
    list-style: none;
    border: 2.5px solid black;
    margin-bottom: 5%;
    background: linear-gradient( 180deg, rgba(0, 0, 0, 1) 0%, rgba(97, 97, 97, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

li.player-item:hover {
    color: lightgray;
}

.last-event-spectators,
.last-event-home-team,
.last-event-away-team,
.bench .home-team-span .away-team-span {
    margin-bottom: 2%;
}

.lineup {
    margin: 2% 0;
}