.League {
    background: gray;
}

.league-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 5%;
}

.league-item {
    width: 200px;
    height: 200px;
    list-style: none;
    border: 2.5px solid;
    border-image: linear-gradient( #007236, #8dc73f);
    margin-bottom: 15px;
    background: linear-gradient( #8dc73f, #007236);
}

.table-box {
    margin-left: 350px
}

a {
    text-decoration: none;
}

.league-item:hover {
    background: antiquewhite;
}

.league-item-strleague {
    text-decoration: none;
    font: 24px bold;
    margin-top: 10px;
    color: #f5f5d6;
}

Link {
    text-decoration: none;
}

.league-item-image {
    margin-top: 20px;
}

table,
td {
    border: 1px solid black;
    background: linear-gradient( #8dc73f, #007236);
    margin: 40px 0 0 20px;
}

th {
    border: 1px solid black;
    background: linear-gradient( #8dc73f, #007236);
    margin: 40px 0 0 20px;
    padding: 7px
}

.tab-table {
    text-align: center;
}

.tab-list {
    border-bottom: 2px solid black;
    padding: 10px;
    text-align: left;
}

.react-tabs__tab--selected {
    background: #fff;
    border-color: #aaa;
    color: black;
    border-radius: 10px;
}

.react-tabs__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    border: 2px solid black;
}

ul.league-list {
    margin: 10px 0;
}

.main {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
    border-style: solid;
}

.league-map {
    text-align: left;
    margin-left: 10px;
    font-weight: bold;
}

.league-img {
    margin-top: 40px;
}