.player-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: row;
    border: 5px solid black;
    margin: 0 5%;
}

.main {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
    border-style: solid;
}

.col-1 {
    background: #a6bc36;
    flex: 2;
}

.col-2 {
    display: flex;
    flex-direction: column;
    flex: 6;
    background: #1e7302;
}

ul.tab-list {
    background: #a6bc36;
    text-align: center;
    font-weight: bold;
    color: #003f1d;
}

.tabList {
    text-align: left;
}

.tabBio {
    text-align: left;
    font-size: 10pt;
    text-align: justify;
    margin: 0 3% 0;
}

.former-teams {
    display: flex;
    flex-wrap: wrap;
    justify-content: row;
    color: #d3de9b;
    font-size: 24px;
    font-weight: bold;
}

.former-items {
    list-style: none;
    margin: 10px 0 20px 450px;
    text-align: center;
}

.honors-items {
    list-style: none;
    margin-top: 10px;
    color: #d3de9b;
    font-size: 24px;
    font-weight: bold;
}

.player-contract {
    color: #d3de9b;
    font-size: 24px;
    font-weight: bold;
}

.col-1 {
    color: #003f1d;
    font-size: 24px;
}

.img-player {
    margin-top: 40px;
}

.map-players {
    text-align: left;
    margin-left: 10px;
    font-weight: bold;
}

.player-name {
    text-decoration: none;
    font: 24px bold;
    margin-top: 10px;
    color: #f5f5d6;
}

.player-img {
    margin-top: 10px;
}

span.unknown-value {
    font-weight: bold;
    font-size: 24px
}

span.unknown-value-map {
    font-size: 16px;
}